/**
 * 模板名称：LesslsMore
 */

@import url('./color.conf');
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100px;
}

body {
    font-size: 0.12rem;
    background-image: url("/skins/BlueSky/images/bg.gif");
    background-repeat: repeat;
    background-color: #FFFDFA;
}

#home {
    width: 100%;
}

#main {
    width: 10rem;
    margin: 0.5rem auto;
}
